#NavBar /*Caixa da barra de navegação*/
{
    font-size: 0.9em;
}
#NavBar a.navbar-brand img /*Logo da barra de navegação*/
{
    width: 30px;
}
#NavBar #contact{
    background-color: #025e731c;
    border-radius: 6px;
    color: rgba(255, 255, 255, .8);
    
    font-weight: 500;
    transition: 0.75s;
}
#NavBar #contact:hover{
    background-color: #086f8657;
    color: rgba(255, 255, 255, 1);
}

#NavBar .divisao{
    width: 1px;
    border-radius:10px;
    height: 20px;

    margin: auto 12.5px;

    background-color: #025E73;
}


@media (max-width: 991.98px) {  
    #NavBar #contact{
        width: 140px;
        padding-left: 10px;
    }

}